@import "../../../../assets/styles/variables";

header.header {
  padding: 40px 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 16px;

    .header-menu ul {
      display: flex;
      align-items: center;
      padding: 0 0 0 100px;
      white-space: nowrap;

      li {
        list-style: none;
        margin-right: 30px;

        a {
          color: $base-text-color;
          cursor: pointer;
          text-decoration: none;

          &.active {
            color: $blue-text-color;
          }
        }
      }
    }

    .header-phone {
      flex-wrap: nowrap;
      text-decoration: none;
      color: $blue-text-color;
      margin-left: 227px;
      white-space: nowrap;
      border-bottom: 1px solid transparent;

      &:hover {
        border-bottom: 1px solid $blue-text-color;
      }
    }

    .header-actions {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: right;
      color: $base-text-color;
      cursor: pointer;
      width: 245px;
      padding-left: 40px;
      box-sizing: border-box;

      svg {
        margin-right: 7px;
      }

      span {
        width: max-content;
        text-align: start;
      }
    }
  }
}
