<section class="signup" [formGroup]="signupForm">
  <div class="container">
    <div class="auth-form">
      <div class="auth-title">
        Регистрация на сайте
      </div>
      <div class="auth-inputs">
        <div class="auth-input">
          <input type="text" class="input"
                 [ngStyle]="{'border-color': signupForm.get('name')?.invalid
                  && (signupForm.get('name')?.dirty || signupForm.get('name')?.touched) ? 'red' : ''}"
                 placeholder="Ваше имя" formControlName="name">
        </div>
        <div class="invalid-feedback"
             *ngIf="signupForm.get('name')?.invalid && (signupForm.get('name')?.dirty || signupForm.get('name')?.touched)">
          Введите имя, каждое слово с заглавной буквы, только русские буквы и пробелы
        </div>
        <div class="auth-input">
          <input type="email" class="input"
                 [ngStyle]="{'border-color': signupForm.get('email')?.invalid
                  && (signupForm.get('email')?.dirty || signupForm.get('email')?.touched) ? 'red' : ''}"
                 placeholder="Электронная почта" formControlName="email">
        </div>
        <div class="invalid-feedback"
             *ngIf="signupForm.get('email')?.invalid && (signupForm.get('email')?.dirty || signupForm.get('email')?.touched)">
          Введите корректный адрес электронной почты
        </div>
        <div class="auth-input">
          <input type="{{showPassword ? 'text' : 'password'}}" class="input"
                 [ngStyle]="{'border-color': signupForm.get('password')?.invalid
                  && (signupForm.get('password')?.dirty || signupForm.get('password')?.touched) ? 'red' : ''}"
                 placeholder="Пароль" formControlName="password">
          <span class="glyphicon" (click)="togglePasswordVisibility()">
            <svg *ngIf="!showPassword" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;" version="1.1" viewBox="0 0 32 32" width="100%" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.112,18.784l-2.153,2.156c-0.585,0.586 -0.585,1.536 0.001,2.121c0.586,0.585 1.536,0.585 2.121,-0.001l2.666,-2.668c1.898,0.983 4.19,1.806 6.773,2.041l0,3.567c0,0.828 0.672,1.5 1.5,1.5c0.828,-0 1.5,-0.672 1.5,-1.5l0,-3.571c2.147,-0.201 4.091,-0.806 5.774,-1.571l3.199,3.202c0.585,0.586 1.535,0.586 2.121,0.001c0.586,-0.585 0.586,-1.535 0.001,-2.121l-2.579,-2.581c2.59,-1.665 4.091,-3.369 4.091,-3.369c0.546,-0.622 0.485,-1.57 -0.137,-2.117c-0.622,-0.546 -1.57,-0.485 -2.117,0.137c0,-0 -4.814,5.49 -11.873,5.49c-7.059,0 -11.873,-5.49 -11.873,-5.49c-0.547,-0.622 -1.495,-0.683 -2.117,-0.137c-0.622,0.547 -0.683,1.495 -0.137,2.117c0,0 1.175,1.334 3.239,2.794Z"/><g id="Icon"/>
            </svg>
            <svg *ngIf="showPassword" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 9C10.358 9 9 10.359 9 12C9 13.642 10.358 15 12 15C13.641 15 15 13.642 15 12C15 10.359 13.641 9 12 9Z" fill="black"/>
              <path d="M12 5C4.408 5 2.12632 11.617 2.10543 11.684L2 12L2.10444 12.316C2.12632 12.383 4.408 19 12 19C19.592 19 21.8737 12.383 21.8946 12.316L22 12L21.8956 11.684C21.8737 11.617 19.592 5 12 5ZM12 17C6.67774 17 4.61587 13.154 4.11657 12C4.61786 10.842 6.68072 7 12 7C17.3223 7 19.3841 10.846 19.8834 12C19.3821 13.158 17.3193 17 12 17Z" fill="black"/>
            </svg>
          </span>
        </div>
        <div class="invalid-feedback"
             *ngIf="signupForm.get('password')?.invalid && (signupForm.get('password')?.dirty || signupForm.get('password')?.touched)">
          Введите пароль, не менее 8 символов, как минимум 1 буква в верхнем регистре и как минимум 1 цифра
        </div>
        <div class="auth-checkbox">
          <input type="checkbox" id="agree" formControlName="agree">
          <span>Я принимаю
            <a (click)="onPolicy(1)">условия пользовательского соглашения</a>
            и даю
            <a (click)="onPolicy(2)">согласие на обработку персональных данных</a>
            .</span>
        </div>
        <div class="invalid-feedback"
             *ngIf="signupForm.get('agree')?.invalid && (signupForm.get('agree')?.dirty || signupForm.get('agree')?.touched)">
          Необходимо подтвердить соглашение
        </div>
      </div>
      <div class="auth-button">
        <button class="button-400" [disabled]="signupForm.invalid" (click)="signup()">Зарегистрироваться</button>
      </div>
      <div class="auth-link">
        Уже есть аккаунт? <a routerLink="/login">Войдите</a>
      </div>
    </div>
    <div class="page-image">
      <img src="/assets/images/page/signup.png" alt="plan">
    </div>
  </div>
</section>

